/* começo nosso time  */

.nosso-time{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.125rem;
  padding-bottom: 0;
}

.nosso-time h2{
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  padding-bottom:  3rem;
  color: #FC984D;
  font-weight: bold;
  font-size: 3rem;
}

.card-time{
  display: flex;
  width: 100%;
  padding: 0.625rem 3.125rem;
  background-color: #FCEAD5;
}

.pessoa-time{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pessoa-time p {
  padding: 0 0.5rem;
}

.card-position{
  justify-content: flex-end;
  background-color: #FCD18D;
}

.colaborador{
  font-size: 1.563rem;
}

.cargo{
  font-size: 1.125rem;
}

.img-time{
  width: 8.75rem;
}

/* fim nosso time  */

/* responsivo  */

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .card-time{
    flex-direction: column;
    align-items: center;
  }

  .img-time{
    order: -1;
    padding-bottom: 1.25rem;
  }

  .pessoa-time{
    padding-bottom: 1.25rem;
  }
}
  