* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#paiTodos {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#meio {
  display: flex;
  flex-direction: column;
}

.painel1 {
  justify-content: space-between;
  height: 35vh;
}

#banner1 {
  width: 100vw;
  height: 35vh;
}

.texto1 {
  position: absolute;
  font-size: 1.25rem;
  left: 3.125rem;
  top: 17vh;
  text-align: center;
  color: white;
}

.painel2 {
  display: flex;
  background-color: #726e6c;
  height: 35vh;
  justify-content: space-between;

  height: 100%;
  padding: 1.25rem;
}

.span-img img {
  padding-left: 5rem;
}

#textoPainel2 {
  font-size: 1.125rem;
  text-align: center;
  color: white;
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  font-weight: bolder;

  display: flex;
  padding: 1.25rem;
}

.painel2 img {
  width: 80%;
}

.div-painel2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3.125rem;
  padding-right: 12rem;
}

.painel3 {
  display: flex;
  background-color: #fcd18d;
  height: 100%;
  justify-content: space-evenly;
}

.bannerPainel3 {
  display: flex;
  width: 50vw;
  height: 40vh;
}

#textoPainel3 {
  display: flex;
  padding: 5rem;
  font-size: 1.25rem;
  text-align: center;
  align-items: center;
}

.quemsomos {
  display: flex;
  background-color: #fcead5;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.escritorio {
  width: 55vw;
}

#textoqs {
  margin: 1em;
  font-size: 1.875rem;
  text-align: center;
}

.footer {
  display: flex;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: gray;
  padding: 1em 0;
  align-items: center;
  justify-content: space-between;
}

#redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1.875rem;
}

.logoredes {
  width: 2.375rem;
}

.img-footer {
  padding-left: 1.875rem;
  box-shadow: none;
}

/* reponsividade  */

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  
    /* main  */
    .painel2 {
    flex-direction: column;
  }

  .span-img {
    display: flex;
    justify-content: center;
  }

  .span-img img {
    width: 100%;
  }

  .div-painel2 {
    flex-direction: row;
    padding: 1rem;
  }

  .painel3 {
    flex-direction: column;
  }

  .img-3 img {
    width: 100%;
  }

  #textoPainel3{
      padding: 3rem;
  }

  /* quem somos */

  .quemsomos{
      flex-direction: column;
  }

  .quemsomos span img{
      width: 100%;
  }
}
