*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



#paiTodos{
   
   /* height: 100vh; */
   width: 100vw;
   display: flex;
   flex-direction: column;
   
   

}

#meio{display: flex;
    flex-direction: column;
    
    
    


}


.painel1{
   
    justify-content: space-between;
    height: 35vh;
    
    
}
#banner1{
    /* position: absolute; */
    
    width: 100vw;
    height: 35vh;
    
    


}


.texto1{
    position: absolute;
    font-size: 20px;
    left: 50px;
    top: 17vh;
    text-align: center;
    color: white
    

}



.painel2{
    display: flex;
    background-color: #726e6c;
    height: 35vh;
    justify-content: space-between;
}

#textoPainel2{
    font-size: 18px;    
    text-align: center;
    color: white;
    margin: 60px;
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    font-weight: bolder;
    
}

.painel2 img{
    width: 100%;
}



.painel3{
    display: flex;
    background-color: #FCD18D;
    height: 100%;
    justify-content: space-evenly
}

.bannerPainel3{
    display: flex;
    width: 50vw;
    height: 40vh;
}

#textoPainel3{
   display: flex;
  
    margin: 80px;
    font-size: 20px;
    text-align: center;
}

/* referente ao painel que não estava sendo usado */
/* .painel4{
    display: flex;
    background-color: white;
    /* flex-grow: 1; */
    
/* 
}

#bannerPainel4 img{
    width: 100vw;
    height: 50vh;
    
} */ */


.quemsomos{
    display: flex;
    background-color: #FCEAD5;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

.escritorio{
    width: 55vw;
}

#textoqs{
    margin: 1em;
    font-size: 30px;
    text-align: center;    
}


.footer {
    display: flex;
    /* position:fixed; */
	bottom:0;
	width:100%;
    height: 10vh;
    background-color: gray;
    padding: 1em 0;
    align-items: center;
    justify-content: space-between;
}

#redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 30px;

}

.logoredes{
    width: 2.375rem;
}

.img-footer{
    padding-left: 30px;
    box-shadow: none;
}
